* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: none;
}
body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Kaushan Script', cursive;
}
p, a {
	font-family: 'Patrick Hand', cursive;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	background-color: pink;
	padding: 5px 10px;
	border-radius: 5px;
	color: black;
}
.navbar-brand:hover {
	color: black;
	opacity: 0.8;
}

.carousel-item {
	height: 100vh;
}
.carousel-item img {
	object-fit: cover;
	filter: brightness(70%);
}

.carousel-caption {
	top: 40%;
}
.carousel-caption h1 {
	font-size: 3rem;
}
.carousel-caption p {
	padding-bottom: 20px;
}
.carousel-caption a {
	border: 2px solid pink;
	color: white;
	padding: 5px 20px;
	border-radius:  5px;
	margin-top: 20px;
}
.carousel-caption a:hover {
	text-decoration: none;
	background-color: pink;
}

#about-section {
	background-image: url('img/black-woman.png'), linear-gradient(pink, white);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding: 80px 20px;
	height: 90vh;
}

#services h2 {
	text-align: center;
}
#services {
	padding: 50px;
	text-align: center;
}
.service-wrapper .card {
	margin-bottom: 30px;	
}

.service-wrapper .service-img {
	height: auto;
	width: 100%;
}
.service-item {
	padding: 10px;
	margin: 20px 0;
	border-radius: 5px;
	background-color: pink;
	color: White;
}
.service-item-text {
	text-align: center;
	padding: 20px 0;
	background-color: pink;
}
#services .service-link {
	margin: 0 auto;	
	border: 1px solid pink;
	color: black;
	padding: 5px 15px;
	font-size: 0.8rem;
	border-radius: 5px;
}
#services .service-link:hover {
	color: white;
	text-decoration: none;
	background-color: pink;
}

.my-4 {
	background-color: pink;
}

#portfolio {
	padding: 50px;
	text-align: center;
}
#portfolio h2 {
	text-align: center;
}
#portfolio img{
	height: auto;
	width: 100%;
	margin: 10px 0;
}
.portfolio-link {
	color: black;
	border: 1px solid pink;
	padding: 0 10px;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 0.8rem;
}
.portfolio-link:hover {
	background-color: pink;
	color: white;
	text-decoration: none;
}


#contact {
	padding-top: 20px;
	background-color: pink;
}
#contact h2 {
	text-align: center;
	padding-bottom: 20px;
}
#contact .contact-form {
	border: 2px solid white;
	border-radius: 5px;
	padding: 20px;
}
.contact-form {
	margin: 20px;
}
.contact-form input {
	margin: 10px 0;
	border: 1px solid pink;
}
.submit-btn {
	border-radius: 5px;
	padding: 0 10px;
	background-color: white;
}

.contact-form textarea {
	border: 1px solid pink;
}
.phone, .email, .address {
	display: flex;
}
.contact-info {
	padding: 30px;
	background: linear-gradient( pink, white);
}
.contact-info .fas {
	padding-right: 10px;
	padding-top: 10px;
	font-size: 20px;
}


.socials {
	text-align: center; 
	padding-top: 30px;
}
.socials .fab {
	background-color: pink;
	padding: 10px;
	border-radius: 5px;
	margin: 0 10px;
	text-align: center;
	transform: scale(1);
	transition: transform 0.3s ease;
	font-size: 20px;
}
.fab:hover {
	font-size: 30px;
	transform: scale(1.3);
}

.fa-facebook {
	color: #3b5998;
}
.fa-instagram {
	color:  #E4405F;
}
.fa-twitter {
	color: #00acee;
}

.footer {
	padding-left: 20px;
}
.footer p {
	font-size: 0.7rem;
}


@media screen and (max-width: 768px) {
	.navbar {
		background-color: transparent;
		padding: 20px 10px;
	}
	.navbar-main {
		margin: 20px 50px 0 50px;	
		border-top: 2px solid pink;
	}
	.nav-item {
		border-top: 1px solid pink;
		
	}
	.nav-item .nav-link {
		padding: 10px 20px;
		color: black;
	}
	.nav-item .nav-link:hover {
		background-color: rgb(243, 243, 243);
		opacity: 0.7;
	}

	#about-section {
		height: 80vh;
	}
	.about-text {
		color: white;
	}
}
@media screen and (min-width: 768px) {
	.nav-item {
		padding: 10px;
	}
	.nav-link {
		color: black;
	}
	.nav-link:hover {
		border: 2px solid pink;
		color: black;
		border-radius: 5px;
	}
	.about-text {
		padding-right: 150px;
		padding-top: 50px;

	}

	#services {
		padding-top: 100px;
	}
	.service-item {
		margin: 0px 10px 30px 10px;
	}
	#services .service-link {
		font-size: 1.2rem;
	}
	#contact {
		background: linear-gradient( pink, white);
	}
	.contact-info {
		background: none;
	}
	.contact-info h6 {
		font-size: 1.5rem;
	}

	.footer {
		text-align: center;
		padding-top: 30px;
	}
}
