@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: none;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	width: 100%;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Bellefair', cursive;
	font-weight: bolder;
	
}
h1 {
	font-size: 5rem;
}
p, a {
	font-family: 'Barlow Condensed', sans-serif;
	
}
.heading {
	font-weight: bolder;
	font-size: 3rem;
}
.uppercase {
	text-transform: uppercase;
}

.topnav {
	display: flex;
	justify-content: space-between;
}


.carousel-item {
	height: 100vh;
}
.carousel-item img {
	object-fit: cover;
	filter: brightness(60%);
}

.carousel-caption {
	top: 35%;
}
.carousel-caption h1 {
	font-size: 3rem;
}
.carousel-caption p {
	padding-bottom: 20px;
}
.carousel-caption a {
	border: 2px solid pink;
	color: white;
	padding: 5px 20px;
	border-radius:  50px;
	margin-top: 20px;
	transition: all .5s ease;
}
.carousel-caption a:hover {
	text-decoration: none;
	background-color: pink;
}

#about-section {
	padding: 80px 20px;
	line-height: 1.3;
	font-size: 1.5rem;
}

.about-image img {
	height: 100%;
	width: 100%;
}
#about-section .about-text h1 {
	font-size: 3rem;
	font-weight: bolder;
}

blockquote {
  background: transparent;
  border-left: 10px solid #d87093;
  margin: 100px 10px 0 10px;
  padding: 0.5em 10px;
  
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 20px;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote span {
	font-weight: bolder;
}

.heading {
	position: relative;
	margin: 0 auto;
}

#services h2 {
	text-align: center;
}
#services {
	padding: 50px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.service-wrapper {
	margin-inline: auto;
}

 .card {	
	width: 350px;
	margin: 20px 0;
	border-radius: 10px;
}
.card-img-top {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card-body h4 {
	color: #d87093;
}


.link-btn {
	color: white;
	text-decoration: none;
	background-color: #d87093;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0 auto;	
	transition: .5s;
}
.link-btn:hover {
	margin: 0 auto;	
	border: 2px solid #d87093;
	color: black;
	background-color: white;
	border-radius: 5px;
	transition: .5s;
}
.my-4 {
	background-color: #d87093;
}

#portfolio {
	padding: 50px 20px;
	text-align: center;
}
#portfolio h2 {
	text-align: center;
}
#portfolio img{
	height: auto;
	width: 100%;
	margin: 10px 0;
}
.portfolio-link {
	color: black;
	border: 1px solid pink;
	padding: 0 10px;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 0.8rem;
}
.portfolio-link:hover {
	background-color: pink;
	color: white;
	text-decoration: none;
}

#price-list {
	padding-block: 50px 80px;
	padding-inline: 30px;
	background: linear-gradient(to right, #efd4e7, #f5eaee) ;
}
.price-list-wrapper {
	border: 2px solid pink;
	border-radius: 10px;
	background-color: pink;
	
}
.price-head {
	background-color: white;
	padding: 5px 20px;
}

#price-list h2 {
	text-align: center;
	padding: 30px 0;
}

.studio-item {
	display: flex;
	justify-content: space-between;
	padding-inline: 30px;
}
.home-service p {
	padding-inline: 30px;
}
.bridal {
	font-weight: bolder;
	font-size: 1.2rem;
}
.bridal-wrapper {
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0 30px;
}

.line {
	margin: 0;
	height: 1px;
}

#contact {
	margin-top: none;
	
	padding-top: 50px;
	background-color: pink;
	padding-bottom: 30px;
}
#contact h2 {
	padding-bottom: 20px;
}
.f-link {
	color: white;
	
	background-color: #d87093;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	font-size: large;
	transition: all .5s ease;
}
.f-link:hover {
	color: black;
	text-decoration: none;
	border: 2px solid #d87093;
	background-color: transparent;
}

.phone, .email, .address {
	display: flex;
}
.email a {
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
}
.email a:hover {
	text-decoration: underline;
}
.contact-info .fas {
	padding-right: 10px;
	padding-top: 10px;
	font-size: 15px;
	align-self: flex-start;
}
 .contact-info_text a{
	color: black;
}




.socials .fab {
	border-radius: 50%;
	
	margin-right: 20px;
	text-align: center;
	transform: scale(1);
	transition: transform 0.3s ease;
	font-size: 25px;
	
}
.fab:hover {
	font-size: 30px;
	transform: scale(1.2);
}
.fa-facebook {
	color: #4267b2;
}
.fa-whatsapp {
	color: #25d366;
}
.fa-instagram {
	color: #5851db;
}
.footer {
	padding-left: 20px;
}
.footer p {
	font-size: 0.7rem;
}


@media screen and (max-width: 768px) {
	p {
		font-size: 1.2rem;
	}
	
  .topnav a.icon { 
    display: block;
  }
	.topnav {
		padding: 20px;
	}

	.navbar-brand img {
		width: 50%;
		height: 50%;
	}
	.overlay {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 9999;
		top: 0;
		right: 0;
		background-color: rgb(255, 194, 204);
		overflow-x: hidden;
		transition: 0.5s;
	}
	.overlay-top {
		display: flex;
		justify-content: flex-end;
		padding: 30px 20px 0 20px;
		align-items: center;
	}
	.openBtn {
		align-self: center;
	}

	.closeBtn {
		font-size: 30px;
		text-decoration: none;
		color: white;
		font-size: 2rem;
	}
	.closeBtn:hover {
		color: white;
		text-decoration: none;
	}

	.navlinks {
		position: relative;
		text-align: center;
		padding: 30px;
		margin: 0 auto;
		
	}
	.navlinks a {
		color: white;
		padding: 15px;
		text-transform: uppercase;
		width: 100%;
		font-size: larger;
		display: block;
		transition: transform .5s ease;
	}
	.navlink:hover {
		text-decoration: none;
		transform: scale(1.1);
	}

	
	.about-text {
		padding-top: 15%;
	}
	.about-text  h2 {
		text-transform: uppercase;
	}
	
	.about-text p{
		font-size: 1.5rem;
		
	}
	.about-text .center {
		text-align: center;
	}

	.service-item {
		margin-bottom: 50px;
	}

	#contact {
		padding-left: 30px;
	}
	.contact-cta {
		padding-bottom: 40px;
	}
	.contact-info {
		padding-bottom: 30px;
	}

	.contact-info h6 {
		font-size: 1.3rem;
	}
	.footer {
		text-align: center;
		padding-top: 30px;
	}
}
@media screen and (min-width: 768px) {
	p {
		font-size: 1.3rem;
	}
	.topnav {
		padding: 20px;
	}
	.navbar-brand img {
		height: 80px;
		width: 100%;
	}
	.openBtn {
		display: none;
	}
	.closeBtn {
		display: none;
	}

	.overlay .nav-logo {
		display: none;
	}
	.overlay {
		width: 100%;
		align-self: center;
	}
	.navlinks {
		float: right;
	}
	.navlinks a {
		display: inline-block;
		color: white;
		margin-right: 20px;
		font-size: larger;
		transition: all .5s ease;
		text-transform: uppercase;
	}
	.navlink:hover {
		text-decoration: none;
		transform: scale(1.15);
		color: pink;
	}

	.carousel-caption h1 {
		font-size: 5rem;
	}

	#about-section {
		padding-inline: 10%;
	}
	.about-wrapper {
		display: flex;
	}
	.about-image {
		width: 50%;
	}
	.about-text {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 5%;
	}
	.about-text-wrapper {
		
		
		align-self: center;
		
	}

	#services {
		padding-top: 100px;
	}
	.service-wrapper {
		
		display: grid;
		grid-template-columns: auto auto;
		margin-inline: auto;
		gap: 30px;
	}
	.service-item {
		margin: 0px 10px 30px 10px;
	}
	#services .service-link {
		font-size: 1.2rem;
	}


	.price-list-wrapper {
		width: 50%;
		margin-inline: auto;
	}

	#contact {
		padding-inline: 100px;
	}
	.contact-wrapper {
		display: flex;
	}
	.contact-cta {
		width: 40%;
	}
	.contact-info {
		width: 40%;
	}
	.socials {
		width: 20%;
	}
	.contact-info h6 {
		font-size: 1.5rem;
	}

	.footer {
		text-align: center;
		padding-top: 30px;
	}
}
